<app-dialog-form>
  <h2>Formulário para criar aluno</h2>
  <form class="form" [formGroup]="form">
    <div class="form-container">
      <!-- Primeira linha -->
      <mat-form-field class="full-width-matricula">
        <mat-label>Matrícula</mat-label>
        <input matInput formControlName="matricula" placeholder="Ex. 12345678">
      </mat-form-field>

      <mat-form-field class="full-width-curso">
        <mat-label>Curso</mat-label>
        <mat-select formControlName="cursoId">
          @for (curso of cursos; track curso.id){
            <mat-option [value]="curso.id">{{curso.titulo}}</mat-option>
          }
        </mat-select>
      </mat-form-field>

      <!-- Segunda linha -->
      <mat-form-field class="full-width-nome">
        <mat-label>Nome</mat-label>
        <input matInput formControlName="nome" placeholder="Ex. João Silva">
      </mat-form-field>

      <!-- Terceira linha -->
      <mat-form-field class="full-width-email">
        <mat-label>E-mail</mat-label>
        <input matInput formControlName="email" placeholder="Ex. joao@exemplo.com">
      </mat-form-field>

      <!-- Quarta linha -->
      <mat-form-field class="full-width-telefone">
        <mat-label>Telefone</mat-label>
        <input matInput formControlName="telefone" placeholder="Ex. (11) 98765-4321">
      </mat-form-field>

      <mat-form-field class="full-width-pais">
        <mat-label>País</mat-label>
        <input matInput formControlName="pais" placeholder="Ex. Brasil">
      </mat-form-field>

      <!-- Quinta linha -->
      <mat-form-field class="full-width-estado">
        <mat-label>Estado</mat-label>
        <input matInput formControlName="estado" placeholder="Ex. São Paulo">
      </mat-form-field>

      <mat-form-field class="full-width-cidade">
        <mat-label>Cidade</mat-label>
        <input matInput formControlName="cidade" placeholder="Ex. São Paulo">
      </mat-form-field>

      <!-- Sexta linha -->
      <mat-form-field class="full-width-bairro">
        <mat-label>Bairro</mat-label>
        <input matInput formControlName="bairro" placeholder="Ex. Vila Mariana">
      </mat-form-field>

      <mat-form-field class="full-width-cep">
        <mat-label>CEP</mat-label>
        <input matInput formControlName="cep" placeholder="Ex. 04013-010">
      </mat-form-field>

      <!-- Sétima linha -->
      <mat-form-field class="full-width-rua">
        <mat-label>Rua</mat-label>
        <input matInput formControlName="rua" placeholder="Ex. Rua Exemplo">
      </mat-form-field>

      <mat-form-field class="full-width-numero">
        <mat-label>Número</mat-label>
        <input matInput formControlName="numero" placeholder="Ex. 123">
      </mat-form-field>
    </div>

    <div class="button-container">
      <button class="botao-salvar" mat-fab extended (click)="salvarAluno()">Salvar<mat-icon>save</mat-icon></button>
      <button class="botao-cancelar" mat-fab extended (click)="dialog.close()">Cancelar<mat-icon>cancel</mat-icon></button>
    </div>
  </form>
</app-dialog-form>
