form {
  min-width: 150px;
  max-width: 800px;
  width: 100%;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.form-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 16px;
  padding: 20px;
  max-height: 70vh;
  overflow-y: auto;
}

.full-width-matricula,
.full-width-nome,
.full-width-email,
.full-width-telefone,
.full-width-curso,
.full-width-pais,
.full-width-estado,
.full-width-cidade,
.full-width-bairro,
.full-width-cep,
.full-width-rua,
.full-width-numero {
  width: 100%;
}

.full-width-nome,
.full-width-email {
  grid-column: span 2;
}

.button-container {
  display: flex;
  align-items: center;
  gap: 16px;
  justify-content: flex-end;
  padding: 16px;
  background-color: var(--terciary);
  position: sticky;
  bottom: 0;
  z-index: 1;
}

.button-container button {
  color: var(--secundary);
  background-color: var(--primary);
  min-width: 120px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

h2 {
  text-align: center;
  margin-bottom: 20px;
  color: var(--font-color);
  padding: 16px;
}

mat-form-field {
  margin-bottom: 10px;
}

/* Estilização da barra de rolagem */
.form-container::-webkit-scrollbar {
  width: 8px;
}

.form-container::-webkit-scrollbar-track {
  background: var(--secundary);
  border-radius: 10px;
}

.form-container::-webkit-scrollbar-thumb {
  background: var(--primary);
  border-radius: 10px;
}

.form-container::-webkit-scrollbar-thumb:hover {
  background: var(--focus);
}
